* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu, Cantarell, "Oxygen Sans", "Helvetica Neue", sans-serif;
  background: seashell;
}

main {
  margin: 0 auto;
  padding: 20px;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  background-color: black;
  color: palevioletred;
  padding: 5%;
}

header img {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  margin-right: 20px;
}

.nav{
    background-color: lightblue;
    color: black;
    height: 100%;
    width: 20%;
    font-size: large;
    position: fixed;
    z-index: 1;
    left: 0px;
    top: 192px;
    overflow-x: hidden;
    padding: 20px 10px;
    padding-left: 20px;
}

.nav a{
    color: black;
}

.nav a:visited{
    color: purple;
}

.social{
  background-color: black;
  color: white;
  height: 220px;
  width: 20%;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
  /*top: 192px;*/
  bottom: 0px;
  left: 0px;
  padding: 10px;
  padding-left: 20px;
}

.social p{
  padding-top: 10px;
  padding-bottom: 10px;
}

.games{
  height: 100%;
  width:20%;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
  top: 192px;
  bottom: 0px;
  right: 0px;
  padding-top: 20px;
  margin-right: 10px;
}

#breakout{
  width: 400px;
  height: 400px;
  position: relative;
  background-color: white;
}

.block{
    width: 46px;
    height:10px;
    position: absolute;
    background: red;
    border: 2px solid white;
}

#bar{
  width: 100px;
  height: 5px;
  position: relative;
  top: 380px; /*is after ball in html, needs to take into account height of ball*/
  background: blue;
}

#ball{
    width: 15px;
    height: 15px;
    position: relative;
    border-radius: 50%;
    background: green;
}

button{
    border: none;
    color: black;
    background-color: lightblue;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}
