/*
 * I'm not gonna lie, the look of this page is heavily 'inspired' by 
 * Evan Klitzke (https://eklitzke.org/index).  I hope you don't mind Evan.
 */

*{
    margin: 0px;
}

html{
    height: 100%;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    padding: 3%;
    color: black;
    background-color: white;
    box-shadow: 0px 10px 5px lightgray;
    margin-bottom: 100px;
}

main{
    display: flex;
    justify-content: center;
    padding: 10px;
}

table{
    box-shadow: 10px 0px 5px lightgray;
    background-color: seashell;
}

tr a{
    color: black
}

tr a:visited{
    color: purple;
}
